[submodule "3rdparty/bptree"]
	path = 3rdparty/bptree
	url = https://github.com/Jimx-/bptree.git
[submodule "3rdparty/CRoaringUnityBuild"]
	path = 3rdparty/CRoaringUnityBuild
	url = https://github.com/lemire/CRoaringUnityBuild.git
[submodule "3rdparty/xxHash"]
	path = 3rdparty/xxHash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "3rdparty/CRCpp"]
	path = 3rdparty/CRCpp
	url = https://github.com/d-bahr/CRCpp.git
